@import "bootstrap/bootstrap.less";
@import "bootstrap/theme.less";
@import "fa/less/font-awesome.less";
@import 'variables.less';

@import "reset.less";


@import "../blocks/p-width/p-width.css";
@import "../blocks/p-body/p-body.css";
@import "../blocks/b-top-bar/b-top-bar.css";
@import "../blocks/b-choose-lang/b-choose-lang.less";

@import "../blocks/b-logo/b-logo.css";
@import "../blocks/b-menu-bar/b-menu-bar.css";

@import "../blocks/b-mobile-menu/b-mobile-menu.css";
@import "../blocks/b-menu/b-menu.css";
@import "../blocks/b-header-images/b-header-images.css";
@import "../blocks/b-header/b-header.css";
@import "../blocks/b-header-text/b-header-text.css";

@import "../blocks/b-btn/b-btn.css";
@import "../blocks/b-spirit-box/b-spirit-box.css";
@import "../blocks/b-content/b-content.css";





button.b-btn.b-btn_white,
button.b-btn.b-btn_white:link,
button.b-btn.b-btn_white:visited {
	border-radius: 0;
	font-family: @font-title;
	color: #fff;
	font-size: 30px;
	border: 4px solid #fff;
	background-color: transparent;
	text-transform: uppercase;
	padding: 17px 0px 15px;
	width: 400px;
	text-align: center;
	position: relative;

	-webkit-transition: 0.2s all ease-out;
	-o-transition: 0.2s all ease-out;
	transition: 0.2s all ease-out;	

	@media screen and (min-width:769px) and (max-width:1024px) {
		padding: 14px 0px 12px;
		font-size: 26px;
		width: 300px;		
	}

	@media screen and (min-width:720px) and (max-width:768px) {
		padding: 12px 0px 10px;		
		font-size: 20px;				
		width: 200px;
	}

	@media screen and (max-width:719px) {
		padding: 10px 0px 8px;
		font-size: 16px;	
		border: 2px solid #fff;					
		width: 200px;
	}	
}

button.b-btn.b-btn_white:hover {
	color: #999999;
	border-color: #999999;
	background-color: rgba(35,35,35,0.8);

	-webkit-transition: 0.2s all ease-out;
	-o-transition: 0.2s all ease-out;
	transition: 0.2s all ease-out;
}

button.b-btn.b-btn_white:active {
	color: #000000;
	border-color: #000000;
	background-color: rgba(255,255,255,1);

	-webkit-transition: 0.2s all ease-out;
	-o-transition: 0.2s all ease-out;
	transition: 0.2s all ease-out;		
}


