/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
@font-face {font-family:"PT Serif Caption";
	src:url("fonts/ptSerif/PTZ55F.eot?") format("eot"),
		url("fonts/ptSerif/PTZ55F.woff") format("woff"),
		url("fonts/ptSerif/PTZ55F.ttf") format("truetype"),
		url("fonts/ptSerif/PTZ55F.svg#PTSerif-Caption") format("svg");
	font-weight:normal;
	font-style:normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('fonts/open sans/OpenSans-Italic.eot');
    src: url('fonts/open sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/open sans/OpenSans-Italic.woff') format('woff'),
         url('fonts/open sans/OpenSans-Italic.ttf') format('truetype'),
         url('fonts/open sans/OpenSans-Italic.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-title: "PT Serif Caption", Arial, Helvetica, Sans-Serif;
@font-open-sans-italic: 'open_sansitalic', Arial, Helvetica, Sans-Serif;
@font-icon: 'FontAwesome';