.b-menu-bar {
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 30px;
	width: 100%;
	z-index: 2;

	@media screen and (max-width:719px) {
		text-align: center;
	}		
}

.b-menu-bar__shadow {
	position: absolute;	
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #232323;
	
	opacity: 0;
	z-index: -1;	

	-webkit-transition: 5s all ease-out;
	-o-transition: 5s all ease-out;
	transition: 5s all ease-out;	
}

.b-menu-bar_fixed {
	position: fixed;
	top: 0px;

	.b-menu-bar__shadow {
		opacity: 0.9;

		-webkit-transition: 5s all ease-out;
		-o-transition: 5s all ease-out;
		transition: 5s all ease-out;
	}

}

