@import './../../css/variables.less';

.b-content {
	.b-content__title {

		&.b-content__title_h2 {
			font-family: @font-title;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 1;
			margin-bottom: 37px;
			color: #232323;
			text-align: center;
		}
	}

	p {

		&.lead {
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 26px;
			color: #676767;
			font-family: @font-open-sans-italic;

		}
	}
}

