.b-header-text {
	position: absolute;
	z-index: 1;
	height: 938px;
	display: table;
	width: 100%;
}

.b-header-text__row {
	display: table-row;
	text-align: center;

}

.b-header-text_cell {
	display: table-cell;
	padding-top: 16px;
	padding-bottom: 16px;	
}

.b-header-text__row_min {
	height: 1%;
}

.b-header-text__title {
	color: #fff;
	font-size: 72px;
	line-height: 1;
	font-family: 'PT Serif Caption', serif;
	text-transform: uppercase;
	padding: 0;
	margin: 0;

	@media screen and (min-width:769px) and (max-width:1024px) {
		font-size: 56px;
	}
	@media screen and (min-width:720px) and (max-width:768px) {
		font-size: 48px;	
	}
	@media screen and (max-width:719px) {
		font-size: 36px;		
	}	
}

.b-header-text__sub-title {
	color: #000000;
	font-size: 40px;
	line-height: 1;
	font-family: 'open_sansitalic', serif;
	padding: 0;
	margin: 0 0 10px;

	@media screen and (min-width:769px) and (max-width:1024px) {
		font-size: 34px;
	}
	@media screen and (min-width:720px) and (max-width:768px) {
		font-size: 26px;	
	}
	@media screen and (max-width:719px) {
		font-size: 24px;
		font-weight: bold;		
	}		
}


