.b-logo {
	color: #999999;
	font-size: 20px;
	line-height: 50px;
	font-family: 'PT Serif Caption', serif;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;

	-webkit-transition: 0.3s ease-out all;
	-o-transition: 0.3s ease-out all;
	transition: 0.3s ease-out all;		
}

.b-logo:hover {
	color: #fff;
	text-decoration: none;

	-webkit-transition: 0.3s ease-out all;
	-o-transition: 0.3s ease-out all;
	transition: 0.3s ease-out all;		
}