.p-width {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 960px;
}

@media screen and (min-width:769px) and (max-width:1024px) {
	.p-width {
		padding: 0 20px;
	}

	.rs-theme .p-width {
		
	}
}

@media screen and (min-width:720px) and (max-width:768px) {
	.p-width {
		padding: 0 20px;
	}

	.rs-theme .p-width {
		
	}
}

@media screen and (max-width:719px) {
	.p-width {
		padding: 0 20px;
	}

	.rs-theme .p-width {
		
	}
}
