
.b-mobile-menu {
    display: none;
    position: absolute;
    right: 0;
    width: 82%;
    height: 100%;
}

.b-mobile-menu:before {
    background: none repeat scroll 0 0 #232323;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
	.b-mobile-menu {
	    display: none;
	    right: 0;
	    width: 82%;
	}
	.b-mobile-menu > .b-mobile-menu {
	    width: 100%;
	}
}

.b-mobile-menu__list {
    max-width: 100%;
    overflow: hidden;
}

.b-mobile-menu__item {
    border-bottom: 1px solid rgba(153, 153, 153, 0.35);
}

.b-mobile-menu__link {
    
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 25px;
    position: relative;
    text-decoration: none;
}
.b-mobile-menu__link:link,
.b-mobile-menu__link:visited {
	color: #fff;
	text-decoration: none;
}
.b-mobile-menu__link:hover,
.b-mobile-menu__link:active {
	color: rgba(255,255,255,0.5);
	text-decoration: none;


}
