.b-header {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 300px;
		width: 100%;

		background: -moz-linear-gradient(top,  rgba(57,57,57,0.9) 26%, rgba(56,56,56,0.9) 27%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,rgba(57,57,57,0.9)), color-stop(27%,rgba(56,56,56,0.9)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(57,57,57,0.9) 26%,rgba(56,56,56,0.9) 27%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(57,57,57,0.9) 26%,rgba(56,56,56,0.9) 27%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(57,57,57,0.9) 26%,rgba(56,56,56,0.9) 27%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(57,57,57,0.9) 26%,rgba(56,56,56,0.9) 27%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6393939', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */		

		z-index: 2;
	}


}