@import './../../css/variables.less';

.b-choose-lang {
	position: relative;
	line-height: 1;	
	margin-left: 10px;
	z-index: 1;
}

.b-choose-lang a.b-choose-lang__curent {
	position: relative;
	background-color: transparent;
	color: #999999;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 40px;
	display: inline-block;
	line-height: 18px;

	&:before {
		content: '\f0d7';
		font-family: @font-icon;
		position: absolute;
		right: 7px;
		
		top: -0px;
		
		font-size: 14px;
	}
}

.b-choose-lang:hover > .b-choose-lang__list {
	display: block;
}

.b-choose-lang:hover > a.b-choose-lang__curent {
	background-color: #fff;
	color: #999999;
	text-decoration: none;

	&:before {
		color: #999999;
	}
}

.b-choose-lang__list {
	position: absolute;
	z-index: 12;
	left: 0;
	width: 100%;
	background: #fff;
	display: none;
	
	padding-left: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.b-choose-lang__item {
	text-align: left;
	line-height: 1;
	padding: 5px 0;
}

a.b-choose-lang__link,
a.b-choose-lang__link:link,
a.b-choose-lang__link:visited {
	color: #676767;	
	text-decoration: none;	
}

a.b-choose-lang__link:hover,
a.b-choose-lang__link:active {
	color: #252423;
	text-decoration: none;	
}