.b-menu {
	float: right;

	@media screen and (max-width:719px) {
		float: none;
	}				
}
.b-menu__list {
	text-align: right;

	@media screen and (max-width:719px) {
		text-align: center;
	}			
}
.b-menu__item {
	display: inline-block;
	margin-left: 30px;
	font-size: 14px;
	font-family: "PT Serif Caption", Arial, Helvetica, Sans-Serif;
	text-transform: uppercase;

	@media screen and (max-width:1023px) {
		display: none;
	}

	&.b-menu__item_switch_mobile-menu {
		display: none;
		
		@media screen and (max-width:1023px) {
			display: block;
		}		
	}

}






a.b-menu__link {
	color: #999999;
	text-decoration: none;

	-webkit-transition: 0.3s ease-out all;
	-o-transition: 0.3s ease-out all;
	transition: 0.3s ease-out all;	
}

a.b-menu__link:hover {
	color: #fff;
	text-decoration: none;

	-webkit-transition: 0.3s ease-out all;
	-o-transition: 0.3s ease-out all;
	transition: 0.3s ease-out all;
}