/* +settings for global*/
@top-bar_background: #232323;
@top-bar-link_color: #676767;
@top-bar-link-hover_color: #ffffff;
/* -settings for global*/

/* +mixins for global*/
.animateThis() {
	-webkit-transition: 0.3s all ease-out;
	-o-transition: 0.3s all ease-out;
	transition: 0.3s all ease-out;	
}
/* -mixins for global*/

.b-top-bar {
	height: 30px;
	background: @top-bar_background;
	color: #fff;
	font: normal 14px/30px Arial, Helvetica, Sans-Serif;
	position: relative;
	z-index: 3;
}

.b-top-bar__list {
	margin: 0;
	padding: 0;
}

.b-top-bar__item {
	display: inline-block;	
	margin: 0 20px 0 0;
	padding: 0;	
}

.b-top-bar__link {
	color: @top-bar-link_color;
	text-decoration: none;

	&:link, &visited {
		color: @top-bar-link_color;
		text-decoration: none;		
	}

	&:hover, &:active {
		color: @top-bar-link-hover_color;
		text-decoration: none;

		.animateThis();
	}
}

.b-top-bar__item_selected {
	.b-top-bar__link {
		color: @top-bar-link-hover_color;
		text-decoration: none;

		&:hover, &:active {
			color: @top-bar-link-hover_color;
			text-decoration: none;

			.animateThis();
		}
	}	
}

/**/
.b-top-bar_align_right {
	text-align: right;
}

.b-top-bar_align_right .b-top-bar__item {
	margin-left: 20px;
	margin-right: 0;
}