.b-header-images {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 938px;
	left: 0;
	top: 0;
	overflow: hidden;
}

.b-header-images:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #232323;
	opacity: 0.4;
	z-index: 1;
}


.b-header-images__list {
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
	white-space: nowrap;	
	height: 100%;
	width: 100%;
	position: absolute;
}

.b-header-images__item {
	height: 100%;
	width: 100%;
	max-width: 1920px;
	float: left;	

	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}

.b-header-images__choose-group {
	position: absolute;
	z-index: 101;
	bottom: 18px;
	text-align: center;
	width: 100%;
}
.b-header-images__choose-group__list {

}
.b-header-images__choose-group__item {
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    width: 18px;	
    height: 18px;
    margin: 0 5px;
    opacity: 1;
    
}
.b-header-images__choose-group__item_active {
	background-color: #fff;
}